.projetos{
    background-color: var(--color1);
    font-family: Sedan SC, 'sans-serif';
    padding-bottom: 6rem;
}
.projetos h2{
    color: var(--color4);
    text-align: center;
    padding: 6rem 0 4rem 0;
    font-weight: normal;
}
.projetosBox{
    width: 80vw;
    height: auto;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}
.menuProjetos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.divisoria{
    width: 80vw;
    margin: 0 auto;
    border: 2px solid white;
}
.menuProjetos button{
    background-color: transparent;
    border: none;
    color: var(--color4);
    font-size: large;
    margin: 2rem 0;
    font-family: Sedan SC, 'sans-serif';
}