*, :root{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 2rem;
}
:root{
  --color1: #2C211E;
  --color2: #483A35;
  --color3: #EEEEEE;
  --color4: #DBA895;
  --color5: rgba(72, 58, 53, 0.73);
}
